---
import Main from "../../layouts/Main.astro";
---

<Main title="Café Liberica">
  <div class="text-center">
    <h1 class="display-4">Café Libérica</h1>
    <h2 class="h5 text-muted">Un café raro y exótico</h2>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <img src="/liberica1.jpg" class="img-fluid rounded" alt="Café Arábica" />
      </div>
      <div class="col-md-6">
        <p>
          El café Libérica es una variedad poco común, originaria de África
          Occidental y ampliamente cultivada en Malasia y Filipinas. Se
          distingue por sus granos de gran tamaño y su sabor fuerte y ahumado,
          con notas afrutadas y florales intensas.
        </p>
        <p>
          Su perfil de sabor es único, combinando acidez baja con un toque de
          madera y especias, lo que lo hace una opción inusual pero apreciada
          por conocedores.
        </p>
        
      </div>
    </div>
  </div>
</Main>
