---
import Main from "../layouts/Main.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Main title="Inicio">
  <div class="text-center">
    <h1 class="display-3">Bienvenido a Cafés de Granos</h1>
    <h2 class="h4 text-muted">Descubre la mejor selección de café</h2>
    <div class="row mt-4">
      <div class="col-md-12">
        <img src="/cafe.png" class="img-fluid w-50 rounded" alt="Café de Granos" />
      </div>
    </div>
  </div>
</Main>
