---
import Main from "../layouts/Main.astro";
---

<Main title="Nosotros">
  <h1>Sobre Nosotros</h1>
  <h2>Una tradición en cada grano</h2>
  <p>
    Somos una empresa dedicada a la comercialización de café de especialidad.
  </p>
  <h1>Nuestra Historia</h1>
  <p>
    Desde hace más de 20 años, nos dedicamos a seleccionar los mejores granos de
    café, apoyando a pequeños productores y promoviendo prácticas de cultivo
    sostenible.
  </p>
  <p>
    Nuestro café proviene de fincas ubicadas en las mejores regiones cafetaleras
    del mundo, donde las condiciones climáticas y la altura crean el ambiente
    perfecto para un café de calidad superior.
  </p>
  <h1>Nuestro Compromiso</h1>
  <p>
    Creemos en la producción de café de manera ética y sostenible, asegurando
    que cada taza que disfrutas no solo tenga un sabor excepcional, sino que
    también contribuya al bienestar de las comunidades productoras.
  </p>
  <p>
    Trabajamos directamente con los caficultores, asegurando precios justos y
    fomentando el desarrollo de técnicas agrícolas respetuosas con el medio
    ambiente.
  </p>
</Main>
